<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%= form_with(model: @user, local: true) do |form| %>
        <div>
            <%= form.label :first_name %>
            <%= form.text_field :first_name %>
        </div>

        <div>
            <%= form.label :last_name %>
            <%= form.text_area :last_name %>
        </div>

        <div>
            <%= form.label :email %>
            <%= form.text_area :email %>
        </div>
        
        <div>
            <%= form.label :password %>
            <%= form.text_area :password %>
        </div>

        <div>
            <%= form.submit "SignUp" %>
        </div>
    <% end %>
    <p>Don't have account </p><a href="users/login">login</a>

</body>
</html>